@media screen and (min-width:1200px)
{
  #project
  {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 1fr;
    color:#93614F;
    font-size:1.5rem;
  }

  h1
  {
    font-family: "Bebas Neue",sans-serif;
    width:auto;
    margin:0;
    font-size:10vh;
  }

  #project-description
  {
    grid-area: 2 / 1 / 3 / 3;
  }
  #project-information
  {
    margin:auto;
    width:90%;
  }

  #problem-solution article
  {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    width:70%;
    margin:auto;
  }
  #problem
  {
    border-right: 2px solid #F2E9DE;
  }
  #problem, #solution
  {
    height: 90%;
    margin:auto;
    padding: 1rem;
    color: #F2E9DE;
    font-size: 1.2rem;
  }
}

@media screen and (max-width:1200px)
{
  #project
  {
    margin-left:auto;
    margin-right:auto;
    width:80%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    color:#93614F;
    font-size:1rem;
  }
  h1{
    text-align: center;
    font-family: "Bebas Neue",sans-serif;
    width:auto;
    margin:0;
    font-size:8vh;
  }
  #problem-solution article
  {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    width:70%;
    margin:auto;
  }
}
#problem-solution
{
  display:grid;
  width:100%;
  background-color: #93614F;
  min-height:50%;
}
svg
{
  width:100%;
}
th{
  font-weight: bold;
  text-align: start;
}
.infos
{
  border-collapse: collapse;
  border:1px solid #93614F;
  text-align: center;
  width:90%;
}
.technos
{
  text-align: start;
  list-style: unset;
}
thead{
  background-color: #93614F;
  color:#F2E9DE;
}

#problem, #solution
{
  height: 90%;
  margin:auto;
  padding: 1rem;
  color: #F2E9DE;
  font-size: 1.2rem;
}
h2
{
  font-family: "Bebas Neue",sans-serif;
  color:#F2E9DE;
}
